.button {
  padding: 8px 24px;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: var(--color-blue);
  color: var(--color-white);

  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: var(--color-blue-dark);
  }
}
