.block {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  box-shadow: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, transform;

  @media (min-width: 1024px) {
    padding: 32px;
  }

  + .block {
    margin-top: 16px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  &.open {
    .content {
      display: block;
    }
    .arrow {
      transform: rotate(180deg);
    }
  }
}

.blockWrapper {
  position: relative;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  svg {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    color: var(--color-blue);
    @media (min-width: 1024px) {
      flex: 0 0 48px;
      width: 48px;
      height: 48px;
    }
  }
}

.content {
  display: none;
  margin-top: 10px;
  max-width: 1200px;

  @media (min-width: 1024px) {
    margin-top: 16px;
  }
}
